* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 40%;
  height: 97vh;
  background-color: rgb(215, 240, 209);
  border: 1px solid black;
  border-radius: 15px;
}
.title_header_sidebar {
  padding-right: 10px;
}
.sidebar_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon_header_sidebar {
  background: url(images/plusRefresh.png);
  width: 78px;
  height: 30px;
  margin-top: 19px;
}
.sidebar_contacts {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 85vh;
  overflow-y: auto;
}
.sidebar_contacts div {
  font-size: large;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 15px;
  width: 100%;
  height: 75px;
}
.sidebar_contacts :hover {
  background-color: rgb(173, 211, 162);
}

/* chat_tabs */

.chat_tabs {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  position: relative;
}
.chat_tabs_header {
  background-color: rgb(215, 240, 209);
  padding: 20px 10px 20px 0;
  width: 100%;
  min-height: 10vh;
  border: 1px solid black;
  border-radius: 15px;
  font-size: x-large;
}

.message_box {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(215, 240, 209);
  font-size: x-large;
  padding-right: 15px;
}
