
/* #region Reset $ Set Defaults */
* {
  margin: 0;
  padding: 0;
  font-family: tahoma;
  box-sizing: border-box;
}

svg{
  cursor: pointer;
}
/* #endregion */

/* #region ChatLayout Hidden */
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  grid-gap: 5px;
  margin-right: 40px;
  width: 0px;
  overflow: hidden;
}
/* #endregion */

/* #region MainBox */
.contacts-container {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  transition-timing-function: step-start;
  transition:width 2s;
  background-color: #6aa84f;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: fixed;
  right: 0px;
  height: 100vh;
  width: 40px;
  overflow: hidden;
  padding: 5px;
}
/* #endregion */

/* #region FlexItem in ChatLayout */
.chating-contact-name {
  height: 60px;
}

.chat-page{
  flex-grow: 1;
}

.type-container{
  height: 60px;
}
/* #endregion */

/* #region sideBarIcon */
.sidebar-icon {
  background-color: #6aa84f;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-left: 10px;
}
/* in ro baraye click toggle kardm */
.rotate{
  transform: rotate(90deg);
}
/* #endregion */

/* #region in parrent samt chap sidebarm hast */
.contacts{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* #endregion */

/* #region Titlebar in Sidebar */
.titlebar {
  display: flex;
  color: black;
}
/* #endregion */

/* #region For title in SideBar */
p {
  flex-grow: 1;
  font-size: 22px;
}
/* #endregion */

/* #region For Toggle Click SideBar */
.blocked {
  width: 300px;
}
/* #endregion */

/* #region ContactList */
.contacts-list{
  flex-grow: 1;
}
/* #endregion */

/* #region for each Contact in list */
.profile{
  margin-top: 10px;
  font-size: 18px;
  width: 248px;
  height: 60px;
  display: flex;
}

.profile:first-child{
  margin-top: 15px;
}
.profile:first-child .image-profile{
  width: 30px;
}

.image-profile{
  margin-left: 5px;
  text-align: center;
  padding-top: 13px;
  border: solid 1px red;
  border-radius: 50%;
  height: 60px;
  flex-grow: 1;
}
.name-profile{
  padding-top: 13px;
  flex-grow: 3;
  height: 60px;
}
/* #endregion */