<!-- #region doc -->
<!-- برای تعیین کردن نوع فایلم به مرورگر -->
<!DOCTYPE html>
<!-- #endregion -->
<!-- #region html -->
<!-- این تگ برای تعیین نوع سند هست و در آن از اتربیوت لنگ استفاده میکنیم برای تعیین زبان بیشتر سایت و از اتربیوت دایرکشن استفاده میکنیم برای چپ به راست یا راست به چپ سایت-->
<!-- While HTML does not require authors to specify <html> element start and ending tags, it is important for authors to do so as it will allow them to specify the lang for the webpage.  -->
<html lang="fa" dir="rtl">
  <!-- #region head -->
  <!-- az tag head baraye vizhegi hayii nazir seo va yek seri moshakhasat koli estefde miknim -->
  <!-- be tor mesal tag meta aval type decode documentmono moshakhas mikne va
          tag meta dovom miad andaze safhe ro ba meghyas va resolotion safhe set mikne
          va tag title ham baraye moshkhas kardn title sfahatemon hast -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="../../Styles/Chat/Chat.css" />
  </head>
  <!-- #endregion -->
  <!-- #region body -->
  <!-- khob tag body badane safhe hamon hast va har chizi ki bkhhim dakhel safhehamon bashe dar inja code miznim -->
  <body>
    <!-- #region EditContactBox -->
    <div class="editContact-container" style="display: none;">
      <div class="editContact-form">
        <!-- #region X-SquaredSVGIcon -->
        <div class="x-squared">X</div>
        <!-- #endregion -->
        <!-- #region EditContactForm -->
        <label for="textMobile"> شماره موبایل مخاطب: </label>
        <!-- tag input ham baraye gereftn data az user hast id on ro az ravesh camel estefade kardm avl type data ro nevesht va bad esm data -->
        <input
          class="data"
          type="text"
          id="textMobile"
          placeholder="0911111111"
          maxlength="11";
          disabled
        />
        <!-- baraye ghati nashodn field ha va label ha va error ha yek khat fasele gozashtm barya har input -->
        <br />
        <label for="textFullname"> نام و نام خانوادگی مخاطب :</label>
        <input
          class="data"
          type="text"
          id="textFullname"
          placeholder="سعید سعادتی فر"
        />
        <span id="errorFullname" style="color: red; visibility: hidden"
          >پر کردن این فیلد اجباری است</span
        >
        <br />
        <!-- az in button baraye taaid va ersal etelaat estefade kardm va halat on ro disble gozashtm ta zamani ke vorodi ha okay bashe -->
        <button class="done" disabled>ویرایش مخاطب</button>
        <!-- #endregion -->
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region AddContactBox -->
    <div class="addContact-container">
      <div class="addContact-form">
        <!-- #region X-SquaredSVGIcon -->
        <div class="x-squared">X</div>
        <!-- #endregion -->
        <!-- #region AddContactForm -->
        <label for="textMobile"> شماره موبایل مخاطب: </label>
        <!-- tag input ham baraye gereftn data az user hast id on ro az ravesh camel estefade kardm avl type data ro nevesht va bad esm data -->
        <input
          class="data"
          type="text"
          id="textMobile"
          placeholder="0911111111"
          maxlength="11";
        />
        <!-- in tag ro baraye namayesh error gozashtm va be in dalil az tag span estefade kardm ke be sorat inline bashe -->
        <span id="errorMobile" style="color: red; visibility: hidden"
          >شماره موبایل مخاطب اشتباه وارد شده</span
        >
        <!-- baraye ghati nashodn field ha va label ha va error ha yek khat fasele gozashtm barya har input -->
        <br />
        <label for="textFullname"> نام و نام خانوادگی مخاطب :</label>
        <input
          class="data"
          type="text"
          id="textFullname"
          placeholder="سعید سعادتی فر"
        />
        <span id="errorFullname" style="color: red; visibility: hidden"
          >پر کردن این فیلد اجباری است</span
        >
        <br />
        <!-- az in button baraye taaid va ersal etelaat estefade kardm va halat on ro disble gozashtm ta zamani ke vorodi ha okay bashe -->
        <button class="done" disabled>افزودن مخاطب</button>
        <!-- #endregion -->
      </div>
    </div>
    <!-- #endregion -->
    <!-- #region Layout Page -->
    <!-- #region sideBar -->
    <!-- kol sidebar ro be 2 ghesmat taghsim kard yeki samt rasst k fght sidebaricon hst
       va samt chap k shamel ma baghi etelaat hast -->
    <div class="contacts-container" icon="0">
      <!-- #region Only sidebar Icon -->
      <div class="sidebar-icon" icon="0">
        <!-- #region Sidebar Icon -->
        <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
        <svg
          class="rotate90"
          height="32px"
          id="Layer_1"
          style="enable-background: new 0 0 32 32; transition: all 400ms"
          version="1.1"
          viewBox="0 0 32 32"
          width="32px"
          xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <path
            class="sidebar"
            d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2 s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2 S29.104,22,28,22z"
          />
        </svg>
        <!-- #endregion -->
      </div>
      <!-- #endregion -->
      <!-- #region another Parts -->
      <!-- baz in ghesmat ro be 2 bakhsh bala yani title
        va payin yani list contactha taghsim kardm -->
      <div class="contacts">
        <!-- #region Title and addContactIcon & refreshIcon -->
        <div class="titlebar">
          <p>پیام‌ رسان فراوین</p>
          <!-- #region addContact Icon -->
          <svg
            id="addContact-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
            style="transition: all 400ms"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
          <!-- #endregion -->
          <!-- #region SVG Refresh Icon -->
          <svg
            class="refresh-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="30"
            viewBox="0 0 512 512"
          >
            <path
              class="refresh-line"
              d="M320,146s24.36-12-64-12A160,160,0,1,0,416,294"
              style="
                fill: none;
                stroke: #000;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 32px;
                transition: all 400ms;
              "
            />
            <polyline
              class="refresh-arrow"
              points="256 58 336 138 256 218"
              style="
                fill: none;
                stroke: #000;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 32px;
                transition: all 400ms;
              "
            />
          </svg>
          <!-- #endregion -->
        </div>
        <!-- #endregion -->
        <!-- #region Loading -->
        <div class="lds-dual-ring"></div>
        <!-- #endregion -->
        <!-- #region ContactList -->
        <div name="parrent" class="contacts-list"></div>
        <!-- #endregion -->
      </div>
      <!-- #endregion -->
    </div>
    <!-- #endregion -->
    <!-- #region ChatLayout -->
    <div class="flex-container chatMarginNegative displayNone">
      <!-- #region ChatHeader -->
      <div class="chating-contact-name">
        <!-- #region ProfileItems -->
        <div class="profile-Header">
          <div class="MobileHeader"></div>
          <div class="image-profile-Header"></div>
          <div class="name-profile-Header"></div>
          <!-- #region EditSVGIcon -->
          <svg
            class="bi bi-pencil-square"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="63"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
          </svg>
          <!-- #endregion -->
          <!-- #region RefreshSVGIcon -->
          <svg
            class="refresh-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="58"
            viewBox="0 0 512 512"
          >
            <path
              class="refresh-line"
              d="M320,146s24.36-12-64-12A160,160,0,1,0,416,294"
              style="
                fill: none;
                stroke: #000;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 32px;
                transition: all 400ms;
              "
            />
            <polyline
              class="refresh-arrow"
              points="256 58 336 138 256 218"
              style="
                fill: none;
                stroke: #000;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 32px;
                transition: all 400ms;
              "
            />
          </svg>
          <!-- #endregion -->
        </div>
        <!-- #endregion -->
      </div>
      <!-- #endregion -->
      <!-- #region ChatPage -->
      <div class="chat-page"></div>
      <!-- #endregion -->
      <!-- #region TypingBox -->
      <div class="type-container">
        <input type="text" class="typing-input" placeholder="پیام..." />
        <!-- #region SendSVGIcon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="60"
          viewBox="0 0 512 512"
          class="send-icon"
        >
          <path
            d="M470.3,271.15,43.16,447.31a7.83,7.83,0,0,1-11.16-7V327a8,8,0,0,1,6.51-7.86l247.62-47c17.36-3.29,17.36-28.15,0-31.44l-247.63-47a8,8,0,0,1-6.5-7.85V72.59c0-5.74,5.88-10.26,11.16-8L470.3,241.76A16,16,0,0,1,470.3,271.15Z"
            style="
              fill: currentColor;
              stroke: #000;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 32px;
            "
          />
        </svg>
        <!-- #endregion -->
      </div>
      <!-- #endregion -->
    </div>
    <!-- #endregion -->
    <!-- #endregion -->
    <!-- #region Scripts -->
    <script defer src="../../Scripts/Chat/Chat.js"></script>
    <script src="../../Scripts/API/farawin.js"></script>
    <!-- #endregion -->
  </body>
  <!-- #endregion -->
</html>
<!-- #endregion -->
